@charset "utf-8";

$main-green: #005468;
$main-red:   #D32230;

html, body {
  height: 100%;
}
#logo {
  padding: 50px 0;
  text-align: center;
}

#nav {
  position: absolute;
  left: 0;
  bottom: 0;
  top:0;
  width: 250px;
  background-color: #D3202E;
  color: #FCFBF5;
  ul {
    border-top: 1px solid #DC4F55;
    a {
      color: #FCFBF5;
      border-bottom: 1px solid #DC4F55;
      padding-left: 40px;
    }
    a:hover, .active a {
      background-color: darken(#D3202E, 6%);
    }
  }
}

#main {
  position: absolute;
  left: 250px;
  right:0;
  bottom: 0;
  top:0;
  overflow: auto;
  padding: 20px;
}

#sider {
  width: 200px;
  float: right;

  h3{
    border-bottom: 1px solid #ccc;
    padding: 0 0 4px;
    color: #999;
  }
}


#title {
  margin: -20px -20px 20px;
  padding: 20px 20px;
  background: url('images/pattern.png');
}

body {
  background: #FDFCF6;
  font-size: 18px;
}

a {
  color: #D3202E;
}
a:hover {
  color: darken(#D3202E, 10%);
}

.container {
  width: 800px;
  margin: 0 auto;
}

.welcome-header {
  text-align: center;
  padding: 50px 0 5px;
  background: #F5F4EE image-url('pattern.png');
}
.hero-text {
  font-size: 36px;
  line-height: 2;
  font-weight: bold;
  margin: 0.8em 0;
}
.footer {
  background-color: $main-green;
  padding: 1em;
  color: #FDFCF6;
  margin-top: 4em;
  .text-center {
    font-size: 40px;
    margin: 0.5em;
  }
}
.divider {
  &:before {
    content: '. . . . . .';
    width: 100%;
    display: block;
    text-align: center;
    color: $main-green;
  }
}
.text-center {
  text-align: center;
}

.doc-title {
  font-size: 32px;
  position: relative;
  margin: 1.5em 0 0.7em;
  font-weight: bold;
  color: $main-red;

  // &:before {
  //   display: inline-block;
  //   width: 30px;
  //   height: 30px;
  //   background: image-url;
  // }
}

.doc-content {
  p {
    line-height: 1.5;
    font-size: 18px;
    margin: 0 0 1em;
    color: #555;
  }
  li {
    list-style-type: square;
  }
}

.section-title {
  border-bottom: 3px solid #D3202E;
  padding: 0 0 4px;
  margin-bottom: 20px;
}


.sponsers {
  margin: 10px -10px;
  img {
    float: left;
    margin: 10px;
  }
}
.home-sponsers {
  text-align: center;
  background-color: rgba(#F5F4EE, 0.8);
  margin: -19px -20px 0;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(#666, 0.1);
          box-shadow: 0 1px 1px rgba(#666, 0.1);

  h4 {
    color: darken(#F6F5EF, 10%);
    margin: 5 0 15px;


  }
  .sponser-logos {
    margin: 5px;
    img {
      margin: 10px 5px;
    }
  }
  .sponser-more {
    margin: -3px 0 0;
    height: 0;

    a.btn {
      padding: 10px 20px;
      background-color: #F6F5EF;
      color: #999;
      border: none;

      &:hover {
        color: #000;
      }
    }

  }
}



