<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/mezzanine/mezzanine.css" %}">
    <link rel="stylesheet" href="{% static "all.css" %}">
    {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.js" %}"></script>
    {% block extra_js %}{% endblock %}
    {% endcompress %}
    <!--[if lt IE 9]>
    <script src="{% static "vendor/mezzanine/html5shiv.js" %}"></script>
    <script src="{% static "vendor/mezzanine/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">

<div class="container">



</div>



<div id="nav">
    <div id="logo">
        <a href="{% url "home" %}"><img src="{% static "images/logo.png" %}" alt=""></a>
    </div>
    {% block left_panel %}
    {% page_menu "pages/menus/tree.html" %}
    {% endblock %}
</div>

<div id="main">
    {% nevercache %}
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endnevercache %}

    {% block #title %}
    <div id="title">
        <h1>{% block title %}{% endblock %}</h1>
    </div>
    {% endblock %}

    {% block .breadcrumb %}
    <ul class="breadcrumb">
    {% spaceless %}
    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
    {% endspaceless %}
    </ul>
    {% endblock %}

    {% block main %}{% endblock %}
    {% block sider %}
        <div id="sider">
            <h3>Sponsers</h3>
            <div class="sponsers">
                <img src="http://placehold.it/200x80" alt="">
                <img src="http://placehold.it/200x80" alt="">
                <img src="http://placehold.it/200x80" alt="">
                <img src="http://placehold.it/200x80" alt="">
                <img src="http://placehold.it/200x80" alt="">
                <img src="http://placehold.it/200x80" alt="">
                <img src="http://placehold.it/200x80" alt="">
            </div>
        </div>
    {% endblock %}
</div>



{% include "includes/footer_scripts.html" %}

</body>
</html>
