{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block #title %}{% endblock %}

{% block .breadcrumb %}{% endblock %}

{% block main %}

<div id="title">
  <div class="welcome-header">
    <img src="{{ STATIC_URL }}images/logo.svg" alt="">
    <p class="hero-text">from everything import future</p>
  </div>
</div>

{% blocktrans %}
<div class="home-sponsers">
  <h4>Sponsers</h4>
  <div class="sponser-logos">
    <img src="http://placehold.it/200x80" alt="">
    <img src="http://placehold.it/200x80" alt="">
    <img src="http://placehold.it/200x80" alt="">
    <img src="http://placehold.it/200x80" alt="">

  </div>
  <div class="sponser-more clear">
    <a href="" class="btn btn-info">Show me all</a>
  </div>

</div>
<h2 class="doc-title">What is PyCon and PyCon Taiwan</h2>
<div class="doc-content">
  <p>PyCon Taiwan is organized by the Taiwan Python community for the community. PyCon Taiwan is intended to provide a professional venue to exchange technical information of Python. We want to clone the experience of PyCon (US), the largest annual gathering of Python programmers, in Taiwan, and bring the joy to more people.</p>
  <p>
  PyCon Taiwan 2012 will also stress on industrial applications of Python. We hope to connect the community, including the business members, and further develop the technology in Taiwan.</p>

  <ul>
    <li><a href="http://www.meetup.com/pythonhug/">PyHUG - Python Hsinchu User Group</a></li>
    <li><a href="http://taipei.python.org.tw/">Taipei.py - Taipei Python User Group</a></li>
    <li><a href="http://www.meetup.com/Tainan-py-Python-Tainan-User-Group/">Tainan.py - Python Tainan User Group</a></li>
    <li>PyLadies Taiwan</li>
  </ul>

</div>

{% endblocktrans %}
{% endblock %}

{% block sider %}{% endblock %}